@import "../../styles/variables", "../../styles/colors", "../../styles/mixin";

.Collections_title {
  margin-bottom: $m-padding;
  text-transform: uppercase;
  text-align: center;
  font-weight: normal;
  font-size: 1.5rem;
  color: dark;
}

.Collections {
  @include maxWidth;
  @include flex(space-between, center);
  flex-wrap: wrap;
  gap: 12px;
  @include desktop {
    gap: 0;
  }
}
