@import "../../styles/_variables.scss";
@import "../../styles/_colors.scss";
@import "../../styles/_mixin.scss";

.coll_title {
  @include font(1.5rem, 1.375rem, normal, $dark);
  margin-bottom: $m-padding;
  text-transform: uppercase;
  text-align: center;
}

.Collections {
  @include maxWidth;
  @include flex(space-between, center);
  flex-wrap: wrap;

  .coll_body {
    max-width: 400px;
    margin: auto;

    > img {
      max-width: 400px;
      object-fit: cover;
    }

    > div {
      @include flex(space-between, center);
      flex-direction: column;
      width: 360px;
      height: 180px;
      margin: auto;
      padding: $m-padding;
      background-color: $gr-primary;
      transform: translateY(-70px);

      > h4 {
        text-align: center;
        text-transform: uppercase;
      }
      > p {
        height: 100px;
        text-align: justify;
      }
      > a {
        @include font(1.125rem, 1.375rem, normal, $dark);
        @include btn;
        border: 1px solid $secondary;
        background-color: $secondary;

        &:focus {
          outline: 1px solid $primary;
        }
        &:before {
          @include pseudo;
          @include btn-before;
          background-color: $light;
        }
        &:hover:before {
          @include btn-hover_before;
        }
      }
    }
  }
}
