@import "../../styles/_variables.scss";
@import "../../styles/_colors.scss";
@import "../../styles/_mixin.scss";

.Menu {
  z-index: -1;
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $light;
  transition: $transition;
  transform: translate(-100%);
  @include desktop {
    display: none;
  }
  &.isOpen {
    transform: translate(0);
    z-index: 2;
  }
  &__link {
    margin: $gl-padding;
  }
}
