@import "../../styles/variables", "../../styles/colors", "../../styles/mixin";

.icon {
  font-size: 1.6em;
  position: relative;
  margin-left: 10px;

  > span {
    position: absolute;
    top: -13px;
    left: 0;
    border-radius: 50%;
    background-color: $secondary;
    width: 20px;
    height: 20px;
    @include flex(center, center);
    color: black;
    font-size: 0.7rem;
    font-weight: bold;
    z-index: -1;
  }
}
.cartImg {
  z-index: 1;
}
