@import "../../styles/_variables.scss";
@import "../../styles/_colors.scss";
@import "../../styles/_mixin.scss";

.bgcolor {
  background-color: $gr-secondary;
}

.Newsletter {
  @include maxWidth;

  .newsletter_body {
    margin: 60px auto;
    text-align: center;

    > h3 {
      @include font(1.5rem, 1.375rem, bold, $secondary);
      text-transform: uppercase;
    }
    > p {
      @include font(1rem, 1.25rem, normal, $dark);
      margin: $gl-padding auto;
      max-width: 400px;
    }
    > form {
      > input {
        border: 1px solid $dark;
        height: 40px;
        background-color: inherit;
        @include font(0.8rem, 1.25rem, normal, $dark);
        text-align: center;
        text-transform: uppercase;
        color: $dark;

        &::placeholder {
          color: $dark;
        }
        &:focus {
          outline: 1px solid $primary;
        }
      }
      > button {
        font-size: 0.8rem;
        text-transform: uppercase;
        padding: 0 $m-padding;
        border-radius: none;
        height: 40px;
        border: 1px solid $dark;
        border-left: none;
        background-color: $dark;
        color: $light;
        z-index: 1;
        position: relative;
        &:before {
          @include pseudo;
          @include btn-before;
          background-color: $secondary;
        }
        &:hover:before {
          @include btn-hover_before;
        }
        &:focus {
          outline: 1px solid $primary;
        }
      }
    }
  }
}
