@import "../../styles/_variables.scss";
@import "../../styles/_colors.scss";
@import "../../styles/_mixin.scss";

.Navbar_wrapper {
  padding: 0 $m-padding;
  z-index: 3;
}
.Navbar {
  @include maxWidth;
  @include flex(space-between, center);

  &__logo {
    max-height: 20px;
  }

  &__btn {
    background: $light;
    border: 0;
    &:focus {
      outline: 1px solid $dark;
    }
  }

  &__menu {
    display: none;
  }
}

@include desktop {
  .Navbar {
    &__btn {
      display: none;
    }
    &__menu {
      @include flex(space-between, center);
    }
    &__link {
      margin-left: $gl-padding;
      > a {
        color: $dark;
        position: relative;
        &:after {
          @include pseudo;
          background: $secondary;
          width: 0;
          bottom: 0;
          height: 2px;
          left: 50%;
          transition: all 0.3s ease 0s;
        }
        &:hover:after {
          width: 100%;
          left: 0;
        }
        &:visited {
          color: $dark;
        }
      }
    }
  }
}
