@import "../../styles/_variables.scss";
@import "../../styles/_colors.scss";
@import "../../styles/_mixin.scss";

.NewProducts {
  @include maxWidth;
  text-align: center;

  > h3 {
    @include font(1.5rem, 1.375rem, normal, $dark);
    margin-bottom: $m-padding;
    text-transform: uppercase;
  }
}

.newProduct {
  display: block;
  // background-color: $gr-secondary;
  margin: 0 10px;
  padding-bottom: $m-padding;
  align-items: center;
  @include flex(center, center);
  flex-direction: column;
  @include font(1rem, 1.25rem, normal, $dark);

  > img {
    height: 230px;
    object-fit: scale-down;
  }

  > h4 {
    white-space: nowrap;
    font-weight: normal;
    max-width: 210px;
    overflow: hidden;
    text-overflow: ellipsis;
    // font-weight: normal;
    margin-bottom: $m-padding;
    font-size: 1rem;
  }
}
