@import "../../styles/variables", "../../styles/colors", "../../styles/mixin";

.NewProducts {
  @include maxWidth;
  text-align: center;

  &__title {
    margin-bottom: $m-padding;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: normal;
    color: dark;
  }
}
